@font-face {
    font-family: 'Corbert-Regular';
    src: url(fonts/Corbert-Regular.otf); /*URL to font*/
}

@font-face {
    font-family: 'Gidole-Regular';
    src: url(fonts/Gidole-Regular.otf); /*URL to font*/
}

.menuwrapper {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    @media (max-width: 700px){
        padding-top: 40px;
        opacity: 1;
        transition: opacity 0.4s 0.1s ease-in;
    }
}

div.hidden-class {
    visibility: hidden;
    opacity: 0;
    transition: height 0.5s;
    transition: visibility 0.3s 0s ease, opacity 0.3s 0s ease-out;
    @media (min-width: 701px){
        visibility: visible;
        opacity: 1;
    }
}

.menuitem {
    width: auto;
    vertical-align: top;
    display: inline-block;
    zoom: 1;
    color: #aaaaaa;
    font-family: 'Corbert-Regular';
    font-size: 0.9em;

    @media (max-width: 700px){
        width: 140px;
        display: block;
        margin: auto;
        text-align: center;
        color: #aaaaaa;
        font-size: 1em;
        padding-bottom: 10px;
    }
}

.menuitem a {
    text-decoration: none;
    color: #aaaaaa;
}
.menuitem a, .menuitem a:hover {
    text-decoration: none;
    color: #aaaaaa;
}

.stretcher {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.content-container {
    max-width: 70vw;
    display: block;
    margin: 0 auto 20px;
    position: relative;
    @media (max-width: 499px){
        max-width: 95%;
    }
    @media (min-width: 500px) and (max-width: 700px){
        max-width: 90%;
    }
    @media (min-width: 701px) and (max-width: 849px){
        margin-top: 80px;
    }
    @media (min-width: 850px){
        height: 80vh;
    }
    @media (min-width: 992px){
        margin: 0 auto;
    }
}

.container-fluid div.content-other {
    max-width: 70vw;
}

.menu-container {
    max-width: 70vw;
    display: block;
    margin: 0 auto;
    position: relative;
    @media (max-width: 499px){
        max-width: 95%;
    }
    @media (min-width: 500px) and (max-width: 700px){
        max-width: 90%;
    }
    @media (min-width: 850px){
        height: 20vh;
    }
}

#moje {
    background: url(images/logo.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-fluid {
    padding: 0 10%;
    @media (max-width: 600px){
        padding: 0;
    }
}

.content {
    padding: 0 20%;
}

#main_logo {
    display: block;
    max-width: 60%;
    margin: 0 auto;
    max-height: 57px;
    @media (max-width: 499px){
        max-width: 100%;
    }
    @media (min-width: 500px) and (max-width: 700px){
        max-width: 80%;
    }
}

#main_line {
    max-width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-right: 0;
}
.portfolio {
    padding: 0;
    max-width: 70vw;
}
.row.portfolio {
    display: block;
    margin: 0 auto;
}

.portfolio-image {
    max-width: 100%;
    margin: 10% 0%;
    @media (max-width: 700px){
        margin: 0 0 10%;
    }
}

.portfolio-margin {
    @media (max-width: 700px){
        margin: 0 0 20%;
    }
}

.autor {
    padding-top: 14px;
    justify-content: center;
    max-width: 70vw;
    @media (max-width: 701px){
        padding: 14px 0;
        max-width: 100vh;
    }
    @media (min-width: 1400px){
        padding-top: 10vh;
    }
}

div.row.no-gutters.autor {
    display: block;
    margin: 0 auto;
}

div.autor-text.col-md-6 {
    color: #908e8f;
    font-family: 'Gidole-Regular';
    text-align: justify;
    font-size: 1.1em;
    @media (max-width: 849px){
        margin-top: 50px;
    }
    @media (min-width: 850px) and (max-width: 991px){
        margin: 50px 0 30px;
    }
    @media (min-width: 992px){
        margin-bottom: 50px;
    }
}

.autor-image {
    width: 45%;
    @media (max-width: 450px){
        width: 70%;
        margin: auto;
    }
    @media (min-width: 451px) and (max-width: 701px){
        width: 50%;
        margin: auto;
    }
}

ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}
li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    background: #fafafa;
}

.homepage-image {
    max-width: 100%;
    max-height: 70vh;
    margin: 0 auto;
}

.carousel-inner {
    height: 70vh;
    @media (max-width: 991px){
        height: auto;
    }
}

div.nopadding {
    padding: 0;
    margin: 0;
}

div.nopadding-ll {
    padding-right: 0;
    padding-left: 0;
    @media (min-width: 992px){
        padding-left: 1%;
        padding-right: 2%;
        margin: 0;
    }
}

div.nopadding-rr {
    padding-right: 0;
    padding-left: 0;
    @media (min-width: 992px){
        padding-left: 2%;
        padding-right: 1%;
        margin: 0;
    }
}

div.nopadding-left {
    padding-right: 0;
    padding-left: 0;
    @media (min-width: 992px){
        padding-right: 3%;
        padding-left: 0;
    }
}

div.nopadding-right {
    padding-right: 0;
    padding-left: 0;
    @media (min-width: 992px){
        padding-left: 3%;
        padding-right: 0;
    }
}

.mfp-counter, .mfp-close, .mfp-arrow {

}

.mfp-counter {
    display: none;
}

.mfp-title {
    font-size: 1em;
    position: fixed;
    width: 100%;
    bottom: 4%;
    left: 0;
    font-family: "Corbert-Regular";
}

button.mfp-close {
    font-family: "Corbert-Regular";
    font-size: 3.1em
}

button.mfp-arrow {
    font-family: "Corbert-Regular";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    speak: none;
    line-height: 1;
    border: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: visible;
    cursor: pointer;
    background: transparent;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 2.5em;
    color: white;
    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}

.mfp-container {
    background: white;
}

.mfp-content {
    background: white;
}

figure img.mfp-img{
    box-shadow: 0;
    padding: 0 4%;
    max-height: 80vh;
    max-width: 85vw;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
}

*:focus {
    outline: 0 !important;
}

.extracts-title {
    display: table;
    margin: 0 auto;    
    color: #aaaaaa;
    font-family: 'Corbert-Regular';
    text-align: center;
    @media (max-width: 700px){
        margin: 0 auto 10%;
    }
}

div.texts a:hover {
    text-decoration: none;
}

.main_line_container {
    margin-bottom: 0.4em;
}

.text {
    color: #b1b1b1;
    font-family: 'Corbert-Regular';
    text-align: center;
    font-size: 1em;
    margin: 0 auto;
    display: block;
    width: 100%;
    padding-top: 50px;
    @media (max-width: 500px){
        padding-top: 20px;
    }
    @media (min-width: 850px){
        position: absolute;
        top: 30%;
        transform: translateY(-30%);
        padding-top: 0;
    }
}

.portfolio-wrap {
    position: absolute;
    top: 0;
    transform: translateY(0);
}
.menu-wrap {
    width: 100%;
    padding-top: 20px;
    @media (min-width: 850px) and (max-width: 1000px){
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    @media (min-width: 1001px){
        position: absolute;
        top: 70%;
        transform: translateY(-70%);
    }
}

.menu-bottom {
    height: 30px;
    transition: height 0.5s;
    margin-bottom: 22px;
}

div.change-height {
    height: 220px;
}

.hamburger {
    float: right;
    &:hover {
        cursor: pointer;
    }
    @media (min-width: 701px){
        display: none;
    }
}

.hamburger div {
    background: #aaaaaa;
    width: 20px;
    height: 2px;
    margin: 6px 0px 6px 0;
}

.carousel.fade {
    opacity: 1;
}
.carousel.fade .item {
    -moz-transition: opacity ease-in-out 4s;
    -o-transition: opacity ease-in-out 4s;
    -webkit-transition: opacity ease-in-out 4s;
    transition: opacity ease-in-out 4s;
    left: 0;
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block;
    z-index: 1;
}
.carousel.fade .item:first-child {
    top: auto;
    position: relative;
}
.carousel.fade .item.active {
    opacity: 1;
    -moz-transition: opacity ease-in-out 4s;
    -o-transition: opacity ease-in-out 4s;
    -webkit-transition: opacity ease-in-out 4s;
    transition: opacity ease-in-out 4s;
    z-index: 2;
}

#contact-anim {
    margin-top: 8em;
    max-height: 15vh;
    @media (max-width: 500px){
        margin-top: 6em;
    }
}

.row.extracts {
    text-align: center;
    flex-wrap: wrap;
    @media (min-width: 701px){
        padding-bottom: 30px;
    }
    @media (min-width: 992px){
        padding-top: 8%;
    }
}

.content-container.extracts-container {
    @media (max-width: 700px){
        margin: 0 auto 0;
    }
}

.row.texts {
    padding: 20px 15px 0;
    a span {
        margin-bottom: 50px;
    }
    @media (min-width: 701px){
        padding-top: 10%;
        font-size: 1.1em;
    }
}

.text-text {
    color: #908e8f;
    font-family: 'Gidole-Regular';
    text-align: justify;
    font-size: 1.05em;
    position: absolute;
    padding: 45px 20% 160px 20%;
    @media (max-width: 700px){
        padding: 0;
    }
    p {
        margin: 0 0 10px;
        @media (max-width: 700px){
            margin: 0 0 20px;
        }
    }
}

a {
    text-decoration: none;
    color: #aaaaaa;
}
a, a:hover {
    text-decoration: none;
    color: #aaaaaa;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    font-family: 'Gidole-Regular';
    font-size: 1.5em;
    color: #908e8f;
    text-align: center;
}

.white-popup button.mfp-close {
    top: 10px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}